@import "reset.css";

.alert {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
}
.alert--success {
  border-color: green;
  color: green;
}
.alert--fail {
  border-color: tomato;
  color: tomato;
}

.small-i {
  font-size: smaller;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info {
  text-align: center;
  padding: 5px;
}
